# IDE
/.idea
/.fleet
/.vscode
/nbproject

# Dependencies
node_modules
vendor
composer.lock
composer.phar

# Tests
coverage
phpunit.xml

# Docs
/docs/.vitepress/dist
/docs/.vitepress/cache

# Others
*.cache
*.env
*.log
*.zip
.DS_Store
.vagrant
Thumbs.db

# Keep folders that are needed
!.gitkeep
