<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="date-time">
      <directory>tests/DateTime</directory>
    </testsuite>
    <testsuite name="local-date">
      <directory>tests/LocalDate</directory>
    </testsuite>
    <testsuite name="local-date-time">
      <directory>tests/LocalDateTime</directory>
    </testsuite>
    <testsuite name="local-time">
      <directory>tests/LocalTime</directory>
    </testsuite>
    <testsuite name="offset">
      <directory>tests/Offset</directory>
    </testsuite>
    <testsuite name="period">
      <directory>tests/Period</directory>
    </testsuite>
    <testsuite name="time-zone">
      <directory>tests/TimeZone</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <coverage/>
  <php>
    <ini name="max_execution_time" value="0"/>
  </php>
</phpunit>
