name: Code Coverage

on: [pull_request, push]

jobs:
  code-coverage:
    name: Code Coverage - PHP ${{ matrix.php }} Ubuntu

    strategy:
      fail-fast: false
      matrix:
        php:
          - '8.2'
        dependencies:
          - 'highest'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, dom, libxml, mbstring, xml, xmlwriter
          coverage: xdebug
          tools: php-coveralls/php-coveralls

      - name: Install dependencies
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: ${{ matrix.dependencies }}

      - name: Run PHPUnit
        run: |
          php -d memory_limit=-1 -d zend.enable_gc=0 -d error_reporting=-1 vendor/bin/phpunit --colors=always --coverage-clover=coverage/clover.xml --coverage-text --coverage-cache=coverage/cache;
        env:
          PHP_VERSION: ${{ matrix.php }}

      - name: Send coverage results to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: coverage/clover.xml
          fail_ci_if_error: true

      - name: Send coverage results to Coveralls
        run: |
          php-coveralls --coverage_clover=coverage/clover.xml --json_path=coverage/coveralls-upload.json --verbose
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: github
          PHP_VERSION: ${{ matrix.php }}
