name: Deploy Docs

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  deploy-docs:
    name: Deploy Docs

    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build Docs
        run: npm run docs:build

      - name: Configure pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs/.vitepress/dist

      - name: Deploy Docs
        id: deployment
        uses: actions/deploy-pages@v1
